<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="col-md-4 col-md-offset-4">
	<form action="/message-passer">
		<div class="form-group">
			<input type="text" name="title" class="form-control" placeholder="Message Heading">
		</div>

		<div class="form-group">
			<input type="text" name="body" class="form-control" placeholder="Message">
		</div>
		<button class="btn btn-success" type="submit">Send!</button>
	</form>
</div>